body{
    background-color: black;
}


h1{
    margin-left: 25rem;
    color: coral;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Calculator{
margin-left: 15rem;
margin-top: 5rem;
}

.Result{
    margin-top: 5rem;
    margin-left: 25rem;
}

.Amount{
    background-color: antiquewhite;
    color: black;
}

.CI{
    background-color:blanchedalmond;
}

.Misc{
    color: azure;
}