body{
    background-color: black;
}

.Calculator{
margin-left: 20rem;
margin-top: 5rem;
}

h1{
    margin-left: 25rem;
    color: coral;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Amount{
    background-color: antiquewhite;
    color: black;
}

